body {
    font-family: "medium-content-serif-font",Georgia,Cambria,"Times New Roman",Times,serif;
    font-size: 1.7em;
}

footer {
    padding: 12px 0 12px 0;
    border: 1px solid #ccc;
    box-shadow: 0 5px 5px -2px #888;
}

.todo-container {
    width: 960px;
    margin: 0 auto;
}

.new-todo {
    width: 480px;
    margin: 0 auto;
}

.new-todo h1 {
    text-align: center;
    color: #336699;
    font-size: 3em;
}

.new-todo .form-control {
    padding-left: 30px;
    height: 60px;
    font-size: 1.5em;
    box-shadow: 0 5px 5px -2px #888;
}

.todo-list {
    width: 480px;
    margin: 40px auto;
}

.todo-list .list-root {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.todo-list .list-item {
    position: relative;
    padding: 12px 0 12px 0;
    border: 1px solid #ccc;
    border-bottom: none;
}

.todo-list .is-done {
    padding-left: 15px;
    width: 15px;
}

.todo-item {
    display: inline;
    font-size: 1.5em;
}

.completed {
    position: absolute;
    top: 23px;
    display: inline-block;
    margin: 0 0 0 10px !important;
    width: 10%;
}

.todo-text {
    display: inline-block;
    max-width: 380px;
    margin: 0 0 0 45px;
    word-break: break-all;
    color: #666;
    font-weight: inherit;
}

.remove {
    position: absolute;
    right: 10px;
    display: none;
    width: 5%;
    color: #ff9999;
    font-family: 'Helvetica', 'Arial', sans-serif;
    cursor: pointer;
}

.expunge {
    color: #ccc;
    text-decoration: line-through;
}

.filter-panel {
    display: inline;
    margin: 0 15px 0 15px;
    font-size: 0.9em;
}

.todo-filter {
    padding-right: 30px;
    display: inline;
    float: right;
}

.todo-filter li {
    margin-right: 10px;
    border: 1px solid transparent;
    border-radius: 10px;
    color: #999;
    cursor: pointer;
}

.todo-filter li:hover {
    border-color: #6699CC;
}

.todo-filter li.selected {
    border-color: #6699CC;
}