<div class="filter-panel">
    <span class="counter"><%= size %> <%= size == 1 ? 'item' : 'items'%> left</span>
    <ul class="todo-filter list-inline">
        <li type="all">All</li>
        <li type="active">Active</li>
        <li type="completed">Completed</li>
    </ul>
</div>