<div class="todo-item">
    <input class="completed" type="checkbox" <%= completed ? 'checked="checked"' : ""%>>
    <label <%= completed ? 'class="todo-text expunge"' : 'class="todo-text"'%> ><%= title %></label>
    <span class="remove">&times;</span>
</div>